@tailwind base;
@tailwind components;
@tailwind utilities;

.awesome-scroll::-webkit-scrollbar{
    background: transparent;
    width: 5px;
}
.awesome-scroll::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: rgba(0, 0, 0, 0.3);
}
.awesome-scroll:hover::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
}